<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<title>{{site.title}} | {{title}}</title>
	<link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />

	<script type="text/javascript">
	var html = document.getElementsByTagName('html')[0];
	html.className += 'wf-loading';
	setTimeout(function() {
	  html.className = html.className.replace(' wf-loading', '');
	}, 5000);

	WebFontConfig = { fontdeck: { id: '35630' } };

	(function() {
	  var wf = document.createElement('script');
	  wf.src = 'http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
	  wf.type = 'text/javascript';
	  wf.async = 'true';
	  var s = document.getElementsByTagName('script')[0];
	  s.parentNode.insertBefore(wf, s);
	})();
	</script>
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
	<link rel="stylesheet" type="text/css" href="/style.css" />
	<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
	<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.2.4"></script>
	<script type="text/javascript">
		function initialize() {
			var layer = new L.StamenTileLayer("toner-background");
			var map = new L.Map("map");
			var maki = L.icon({
				iconUrl: '/img/marker-24.png',
				iconRetinaUrl: '/img/marker-24@2x.png',
				iconSize: [24, 24],
				iconAnchor: [13, 6],
				popupAnchor: [0, 0]
			});
			var bounds = new Array();
			{% for post in site.posts %}
			var {{post.slug | remove:'-' }} = L.marker([{{post.meta.lat}}, {{post.meta.long}}], {icon: maki}).bindPopup('<a href="{{post.url}}"><h2>{{post.title}}</h2> {% for asset in post.assets limit:1 %}{% if asset.type == "image" %} <img src="{{asset.url}}"" width="200px" />{% endif %}{% endfor %}</a> {{post.excerpt | strip_newlines}}', {keepInView: true}, {autoPan: true}, {autoPanPaddingTopLeft: 500}, {autoPanPaddingBottomRight: 500}).addTo(map);
			console.log([{{post.meta.lat}}, {{post.meta.long}}]);
			bounds.push([{{post.meta.lat}}, {{post.meta.long}}]);
			{% endfor %}
			console.log(bounds);
			map.fitBounds(bounds, {padding: [50, 50]});
			map.addLayer(layer);
		}
	</script>
</head>
<body id="index" onload="initialize()">
	{% include "header" %}
	<div id="map"></div>
	{% include "nav" %}
</body>
</html>
